{% extends 'layout.html' %}
{% block content %}

<div class="text-center">
  <h1>Nuestras maquinas</h1>
</div>

{% for machine in machines %}

<div class="d-flex flex-column bd-highlight mb-3 p-2">
  <div class="card p-2 bd-highlight shadow-sm bg-body rounded">
    <img src="{{ machine.photo.url }}" alt="{{ machine.photo }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Machine</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ machine.brand }}</li>
        <li class="list-group-item">{{ machine.department }}</li>
        <li class="list-group-item">{{ machine.area }}</li>
        <li class="list-group-item">{{ machine.responsible }}</li>
        <date class="list-group-item">{{ machine.date }}<date/>
      </ul>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}